.feynman {
  height: 890px;
  padding-top: 100px;
  background: url("/images/feynman.png") bottom left/867px 637px no-repeat;
  position: relative;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
